table {
    width: 80%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align:left;
    margin: 0 0 2% 5%;
    vertical-align: baseline;
    padding: 0;
    outline: 0;
    border: 0;
    background: 0 0;
    display: table;
}
thead {
    border-top: 3px solid #ce8483;
    background-color: #FFBCCE; }
tbody tr {
    border-bottom: 1px solid #FFF2DF;
}

tbody tr:hover {
    background-color: #fff;
}
td,th {
    padding: 2% 4%;
}

td{  background-color: rgba(255,255,255,0.6);
}





